{% if p %}
<div class="tile is-parent is-6">
  <div class="tile is-child">
    <div class="card">
      <a href="{% url 'detail' p.name %}" class="has-text-black">
        <div class="card-header">
          <div class="card-header-title">
            <div class="content">
              <p class="title is-3">{{ p.name }}</p>
              <p class="subtitle is-italic is-size-6 has-text-grey">
                {{ p.start_date_as_str }} - {{ p.stop_date_as_str }}
              </p>
            </div>
          </div>
        </div>
      </a>

      <div class="card-content">
        <div class="content">
          <p class="subtitle">
            Relevant technologies:<br>
            {% for tag in p.techtag_set.all %}
              <span class="tag">{{ tag.name }}</span>
            {% endfor %}
          </p>
        </div>

        <p class="subtitle">
          Project description:
        </p>
        {{ p.short_blurb }}
      </div>

      <div class="card-footer">
        <div class="card-footer-item">
          <a href="{% url 'detail' p.name %}" class="button is-info">
            Project Details
          </a>
        </div>
        <div class="card-footer-item">
          {% if p.code_link %}
          <a href="{{ p.code_link }}">View Code</a>
          {% else %}
          Code Available On Request
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}