{% extends 'portfolio/base.html' %}
{% block title %}
  {% if project %}
    BDiller - {{ project.name }} Details
  {% else %}
    BDiller - Project Not Found
  {% endif %}
{% endblock %}

{% block breadcrumb %}
<div class="container" style="padding-top: 1.5rem">
  <nav class="breadcrumb">
    <ul>
      <li><a href="{% url 'index' %}">All Projects</a></li>
      <li class="is-active">
        <a href="#">
          {% if project %}
            {{ project.name }}
          {% else %}
            Non-existent Project
          {% endif %}
        </a></li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block content %}
{% if project %}
  {% include "portfolio/card.html" with p=project detail=True %}
{% else %}
<div class="title">
  No project named "<span class="is-family-code has-text-weight-normal">{{ bad_name }}</span>" exists!
</div>

{% endif %}
{% endblock %}