{% extends 'portfolio/base.html' %}
{% block title %}
  {% if project %}
    {{ project.name }} Details
  {% else %}
    Project Not Found
  {% endif %}
{% endblock %}

{% block breadcrumb %}
<div class="container" style="padding-top: 1.5rem">
  <nav class="breadcrumb">
    <ul>
      <li><a href="{% url 'index' %}">All Projects</a></li>
      <li class="is-active">
        <a href="#">
          {% if project %}
            {{ project.name }}
          {% else %}
            Non-existent Project
          {% endif %}
        </a></li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block content %}
{% if project %}
  <div class="box">
    <div class="title">{{ project.name }}</div>
    <div class="subtitle is-italic is-size-6 has-text-grey">
      {{ project.start_date_as_str }} - {{ project.stop_date_as_str }}
    </div>
    <div class="columns">
      <div class="column is-8">
        <p class="subtitle">
            Relevant technologies:<br>
            {% for tag in project.techtag_set.all %}
              <span class="tag">{{ tag.name }}</span>
            {% endfor %}
          </p>

        <p class="subtitle">
          Project description:<br>
          <span class="is-size-6">{{ project.short_blurb }}</span>

        </p>


        <p class="subtitle">
          Additional project details:
        </p>
        {{ project.long_blurb }}
      </div>
    </div>
  </div>

{% else %}
<div class="title">
  No project named "<span class="is-family-code has-text-weight-normal">{{ bad_name }}</span>" exists!
</div>

{% endif %}
{% endblock %}