{% extends 'portfolio/base.html' %}
{% block title %}
  {% if bad_tag %}
    BDiller - Tag Not Found
  {% elif tag %}
    BDiller - {{ tag }} Projects
  {% else %}
    BDiller - Portfolio Index
  {% endif %}
{% endblock %}



  {% block breadcrumb %}
    {% if tag %}
      {% include "portfolio/breadcrumb.html" with tag=tag %}
    {% endif %}
  {% endblock %}


{% block content %}
{% if bad_tag %}
  <div class="title">
    No project named "<span class="is-family-code has-text-weight-normal">{{ bad_tag }}</span>" exists!
  </div>

{% elif projects %}
  <div class="container">
    <div class="tile is-ancestor is-vertical">
      {% for p1, p2 in projects %}
      <div class="tile is-parent is-12">
        {% include "portfolio/card.html" with p=p1 %}
        {% include "portfolio/card.html" with p=p2 %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}