{% extends 'portfolio/base.html' %}
{% block title %}BDiller - About Me{% endblock %}

{% block content %}
  <div class="column is-9">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">
          <div class="content" style="padding-left: 8px">
            <p class="title is-3">{{ about_me_title }}</p>
            <p class="subtitle is-italic is-size-6 has-text-grey">{{ about_me_subtitle }}</p>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="content">
          <p class="is-size-6">{{ about_me_content }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
