{% extends 'portfolio/base.html' %}
{% block title %}
  {% if bad_tag %}
    BDiller - Tag Not Found
  {% elif tag %}
    BDiller - {{ tag }} Projects
  {% else %}
    BDiller - Portfolio Index
  {% endif %}
{% endblock %}

  {% block breadcrumb %}
    {% if tag %}
      {% include "portfolio/breadcrumb.html" with tag=tag %}
    {% endif %}
  {% endblock %}

{% block content %}
{% if bad_tag %}
  <div class="title">
    No project named "<span class="is-family-code has-text-weight-normal">{{ bad_tag }}</span>" exists!
  </div>

{% elif projects %}
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      {% for p in projects %}
        {% include "portfolio/card.html" with p=p %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}