{% load static %}

<div class="container">
  <div class="tabs" style="padding-left: 20px">
    <ul>
      <li class="tab" id="about-tab"> {# Needs to be dynamically set! #}
        <a href="{% url 'index' %}" class="is-size-7-mobile">About<br>Me</a>
      </li>
      <li class="tab" id="pers-proj-tab">
        <a href="{% url 'projects' 'Personal' %}" class="is-size-7-mobile">Solo<br>Projects</a>
      </li>
      <li class="tab" id="os-proj-tab">
        <a href="{% url 'projects' 'OpenSource' %}" class="is-size-7-mobile">Open<br>Source</a>
      </li>
      {% if tag %}
      <li class="tab" id="{{ tab_id }}">
        <a class="is-size-7-mobile">Tech. tag:<br>{{ tag }}</a>
      </li>
      {% elif project %}
      <li class="tab" id="{{ tab_id }}">
        <a class="is-size-7-mobile">Project Details:<br>{{ project.name }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<script src="{% static 'portfolio/tabs.js' %}" tabId="{{ tab_id }}"></script>